{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather using Django</title>
    <link rel="stylesheet" href="{% static 'my_style.css' %}">
</head>
<body>

    <div class="container">
        <h1>Weather Application</h1> <br>
        <div class="search">
            <form method="post">
                {% csrf_token %}
                <input type="text" name="city" placeholder="Enter City" required>
                <button type="submit"><img src="{% static 'search.png' %}"  alt="imageNotFound"></button>
            </form>
        </div>
        <div class="weather">
            {% if boolean_temp %}
                <h2 class="day">{{ day }}</h2>
                <h2 class="city">{{ city }} , Not Found </h2>
                <h2>Enter valid city</h2>
            {% else %}
                <h2 class="enterCity">Enter City Name</h2>
            {% endif %}
        </div>
    </div>
</body>
</html>